@model OdeToFood.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";

}

<h1>Welcome!</h1>
@foreach (var restaurant in Model.Restaurants)
{
    <div>
        @Html.Partial("_Summary",restaurant)
    </div>
}

<div>
    <a asp-action="Create">Create</a>
</div>

